<!-- マイページの画面 -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <% if user_signed_in? && @user == current_user %>
        <h1 class="heading">マイページ</h1>
      <% else %>
        <h1 class="heading">ユーザページ</h1>
      <% end %>
    </div>
    
    <!-- ユーザ情報を表示 -->
    <div class="col-sm-12 mx-auto">
      <%= render 'shared/users/user-info', user: @user %>
    </div>
    
    <!-- ユーザが投稿した内容を表示 -->
    <div class="user-trains col-sm-12 mx-auto">
      <%= render 'shared/users/user-trains', trains: @trains %>
      
      <!-- ページング -->
      <div class="pagination mx-auto">
        <%= paginate @trains %>
      </div>
    </div>
    
    <!-- 投稿一覧ページとTop画面へのリンクを表示 -->
    <div class="links col-sm-12 mx-auto text-center">
      <%= link_to '投稿一覧へ', trains_path, class: "btn btn-primary" %>　|　<%= link_to 'ホームへ', root_path, class: "btn btn-secondary", data: {"turbolinks" => false} %>
    </div>
  </div>
</div>