<!-- headerリスト -->
<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

      <!-- Top画面へのリンクを表示 -->
      <a href="/" class="home-icon navbar-brand text-white" data-turbolinks="false"><%= image_tag asset_path "電車アイコン.png" %></a>

      <!-- メッセージを表示する -->
      <p id="notice"><%= notice %></p>

      <!-- ハンバーガーバーボタン -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <!-- ログイン/非ログイン時でヘッダーリストを分岐 -->
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <%= render 'shared/user-signin' %>
          <% else %>
            <%= render 'shared/nouser' %>
          <% end %>

          <!-- ユーザログイン時に検索窓を表示 -->
            <% if user_signed_in? %>
              <div class="search-form">
                <%= render 'shared/searches/search-form' %>
              </div>
            <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>