
<!-- 投稿した記事を表示する -->
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>路線</th>
      <th>本文</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% trains.each do |train| %>
      <tr>
        <td>
          <%= link_to train_path(train.id) do %>
            <%= attachment_image_tag(train, :train_image, size: "50x50", format: 'jpg', fallback: "no_image.jpg") %>
          <% end %>
        </td>
        <td><%= train.line %></td>
        <td><%= train.body %></td>
        <% unless @user == current_user %>
          <td id="favorite_<%= train.id %>"><%= render 'shared/favorites/favorite-btn', train: train %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>