<!-- ユーザー情報編集フォーム -->
<%= form_with model: user, url: user_path, local:true do |f| %>

   <!-- エラー表示 -->
   <%= render 'shared/errors', obj: user %>

   <div class="form-group">
     <%= f.label :プロフィール画像, class: "font-weight-bold" %>
     <%= f.attachment_field :profile_image, class: "form-control-file user_image" %>

     <!-- 画像のプレビューを表示 -->
     <div class="image">
        <%= attachment_image_tag user, :profile_image, format: 'jpg', fallback: "no_image.jpg", class: "image-preview" %>
     </div>
   </div>
   <div class="form-group">
     <%= f.label :ユーザ名, class: "font-weight-bold" %>
     <%= f.text_field :name, class: "form-control name" %>
   </div>
   <div class="form-group">
     <%= f.label :紹介文, class: "font-weight-bold" %>
     <%= f.text_area :introduction, class: "form-control introduction", size: '40x8' %>
   </div>
   <div class="edit-page-buttons">
      <div class="user-update">
        <%= f.submit '更新する', class: 'btn btn-success', style: "margin-right: 10px;" %>
      <div class="mypage-link">
         <%= link_to 'マイページへ', user_path(@user), class: "btn btn-info" %>
      </div>
   </div>

<% end %>